
header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

header h1 {
        margin: 0;
    }

    /* Estilo do menu */
nav {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

nav li {
        margin: 0 10px;
    }

nav a {
        color: #fff;
        text-decoration: none;
    }

    /* Estilo das notícias */
section {
        margin-top: 30px;
    }

article {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
    }

article h3 {
        margin-top: 0;
    }

footer {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 16px;
    padding: 40px 0;
    }

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    }

.footer-section {
    flex-basis: 30%;
    }

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

.about li {
    margin-bottom: 10px;
    }

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

.links li {
    margin-bottom: 10px;
    }

.links a {
    color: #fff;
    }

.social .social-icons {
    display: flex;
    }

.social .social-icons a {
    display: inline-block;
    background-color: #fff;
    color: #1c1c1c;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    }

.footer-bottom {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
    }

.footer-bottom p {
    margin: 0;
    }

.articles {
        display: flex;
    }
.articles article img{
    height: 100px;
}
.articles a{
    background-color: #8fbc8f;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}
.articles article a:hover{
    text-decoration: underline;
}
#esportes{
    background-color: rgba(0, 255, 0, 0.1);
}
#economia{
    background-color: rgba(218,165,32,0.2);
}
#mundo{
    background-color: rgba(0,0,255,0.20);
}
#cinema{
    background-color: rgba(40, 200, 200, 0.3);
}
#tecnologia {
    background-color: rgba(10, 20, 30, 0.2);
}